<%= @str %>

<p>
  <strong>User:</strong>
  <%= @personal.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @personal.name %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @personal.kana %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @personal.sex %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @personal.birth %>
</p>

<%= link_to 'Edit', edit_personal_path(@personal) %>
<%= link_to '退会', {:controller => "users/registrations", :action => "destroy"}, :confirm => "Are you sure?", :method => :delete %>
